
OpenVibe/scripts/venv/*

OpenVibe/scripts/.idea/*

OpenVibe/logs/*

OpenVibe/classifiers/classifier-1\.cfg

OpenVibe/classifiers/classifier-2\.cfg

OpenVibe/classifiers/classifier-3\.cfg

OpenVibe/classifiers/classifier-4\.cfg

OpenVibe/classifiers/csp-1\.cfg

OpenVibe/classifiers/csp-1h1\.cfg

OpenVibe/classifiers/csp-2\.cfg

OpenVibe/classifiers/csp-2h1\.cfg

OpenVibe/classifiers/csp-3\.cfg

OpenVibe/classifiers/csp-3h1\.cfg

OpenVibe/classifiers/csp-4\.cfg

OpenVibe/classifiers/csp-4h1\.cfg

OpenVibe/configuration/temporal-filter-freq-1\.cfg

OpenVibe/configuration/temporal-filter-freq-1h1\.cfg

OpenVibe/configuration/temporal-filter-freq-2\.cfg

OpenVibe/configuration/temporal-filter-freq-2h1\.cfg

OpenVibe/configuration/temporal-filter-freq-3\.cfg

OpenVibe/configuration/temporal-filter-freq-3h1\.cfg

OpenVibe/configuration/temporal-filter-freq-4\.cfg

OpenVibe/configuration/temporal-filter-freq-4h1\.cfg
