<launch>

  <arg name="dev" default="/dev/input/js0"/>

  <!--  Launch joy node -->
  <node pkg="joy" type="joy_node" name="joy">
      <param name="dev" value="$(arg dev)"/>
      <param name="deadzone" value="0.3"/>
      <param name="autorepeat_rate" value="300"/>
      <param name="coalesce_interval" value="0.025"/>
    </node>

    <node name="joy_to_twist" pkg="jog_arm" type="joy_to_twist.py" output="screen" />

  </launch>