<launch>
  <arg name="sim" default="false" />
  <arg name="debug" default="false" />
    
  <!-- Remap follow_joint_trajectory -->
  <remap if="$(arg sim)" from="/follow_joint_trajectory" to="/arm_controller/follow_joint_trajectory"/>
  <!-- moveIt controller manager -->
  <include file="$(find ur5_custom_config)/launch/ur5_on_table_moveit_controller_manager.launch.xml"></include>
  <!-- add robot description to parameter server-->
  <param name="robot_description" command="$(find xacro)/xacro '$(find ur5_custom_description)/urdf/ur5_on_table.xacro'" />
  <!-- Launch moveit -->
  <include file="$(find ur5_custom_config)/launch/move_group.launch">
    <arg name="debug" default="$(arg debug)" />
  </include>
</launch>
