<launch>
  <!--include file="$(find franka_gripper)/launch/franka_gripper.launch">
    <arg name="robot_ip" value="192.168.1.100"/>

  </include-->


  <!--group ns="panda"-->
    <node pkg="planning_tutorial" type="panda_movegroup" name="panda_movegroup" output="screen"/>	
    
  <!--/group-->



</launch>
